/.DS_Store
/.conda
/.ipynb_checkpoints
/.vscode
/Icon
/__pycache__
/files
/images
/joke_luis.py
/lesson1_opp.ipynb
/lesson2_modules_functions.ipynb
/lesson3_file_handle.ipynb
/lesson4_visualizations.ipynb
/lesson_0.ipynb
/pset0_basics.ipynb
/pset_functions.ipynb
/pset_opp.ipynb
/pset_visualizations.ipynb
/test.csv